.collabs-list {
  display: grid;
  grid-template-columns: 60px 40px 60px 40px 60px;
  row-gap: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;

  .operator {
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
  }
}