.collabs-list {
  display: grid;
  grid-template-columns: 80px 20px 80px 20px 80px;
  row-gap: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;

  .operator {
    font-size: 20px;
    margin-top: 15px;
    font-weight: bold;
  }
}