@import "./variables";

html,
body,
#root,
.app {
  min-height: 100vh;
  background-color: var(--color-blue);
}

* {
  box-sizing: border-box;
  font-family: monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.content-container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

@import "./flex.scss";
@import "./spacing.scss";