.item-details {
  position: sticky;
  top: 10px;
  bottom: 10px;
  height: calc(100vh - 20px);
  min-height: 200px;
  flex: 1 1 45%;

  >header {
    padding-left: 0;

    .item-name {
      margin-left: 15px;
    }

    .item-type {
      font-size: 16px;
      color: #aaa;
    }
  }

  >main {
    padding: 0;
  }
}