.idol-generations {
  flex: 0 0 auto;
  width: 470px;
  gap: 20px 10px;

  .gen-name {
    color: white;
    border-bottom: 1px solid white;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
}