.idol-profile-box {
  >main {
    align-self: center;
    overflow-y: inherit;
  }

  .model {
    height: 190px;
  }

  .stats {
    margin-top: 20px;
    min-width: 250px;
    max-width: 300px;
    padding: 20px;

    .stat {
      margin-bottom: 10px;

      img {
        height: 32px;
        width: 32px;
        display: block;
        margin-right: 10px;
      }

      .text {
        font-size: 22px;
        border-bottom: 1px solid white;
      }
    }
  }
}