.idols-page {
  align-items: flex-start;
  gap: var(--content-padding);

  .sticky-section {
    position: sticky;
    top: calc(var(--navbar-height) + var(--content-padding));
    gap: var(--content-padding);
  }
}