.idols-page {
  gap: 10px;

  .selected-idol {
    width: 300px;
    flex: 0 0 auto;
    align-self: flex-start;

    >main {
      justify-content: flex-start;
      align-items: center;
    }

    .model {
      width: 100%;
      height: 200px;
    }

    .stats {
      margin-top: 20px;
      width: 100%;
      padding: 20px;

      .stat {
        margin-bottom: 10px;

        img {
          height: 32px;
          width: 32px;
          display: block;
          margin-right: 10px;
        }

        .text {
          font-size: 22px;
          border-bottom: 1px solid white;
        }
      }
    }
  }

  .generations {
    flex: 0 0 auto;

    .generation {
      margin-bottom: 20px;

      .name {
        color: white;
        border-bottom: 1px solid white;
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 10px;
        text-transform: uppercase;
      }

      .idols {
        gap: 10px;

        .idol {
          cursor: pointer;

          img {
            display: block;
          }

          &.selected {
            outline: 5px solid white;
          }
        }
      }
    }
  }

  .selected-idol-details {
    .sprite {
      margin-right: 10px;
    }

    .name {
      font-size: 20px;
    }

    .attack {
      >main {
        gap: 10px;
      }
    }

    .skills {
      .name:not(:first-of-type) {
        margin-top: 15px;
      }
    }
  }
}