:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 20px;
}


.Upgrades {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.TextInput {
  width: 100%;
}

.TextInput.dirty {
  outline: 2px solid lime;
}

.UpgradeEditor {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.form-field {
  
}