.sprite {
  position: relative;
  flex: 0 0 auto;

  &.show-label {
    padding: var(--sprite-label-overflow);
    padding-bottom: 0;
  }

  &.clickable:hover {
    .image {
      cursor: pointer;
    }
  }

  .label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 11px;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    padding: 1px 0;
    line-height: 10px;
    height: 24px;
    pointer-events: none;
  }

  &.selected .image {
    outline: 5px solid white;
    background-color: rgba(0, 0, 0, 0.1);
  }
}