.items-page {
  .combo {
    height: 230px;
  }

  label.checkbox {
    font-size: 1.6rem;
    text-transform: none;
    cursor: pointer;
    color: var(--color-pink);

    input {
      height: 1.6rem;
      width: 1.6rem;
    }
  }

  .sections {
    flex: 1 1 50%;

    .items-list {
      display: grid;
      grid-template-columns: repeat(6, 74px);
      justify-content: center;
      align-items: center;
    }
  }
}