.items-page {
  --items-per-row: 3;

  label.checkbox {
    font-size: 1.6rem;
    text-transform: none;
    cursor: pointer;
    color: var(--color-pink);

    input {
      height: 1.6rem;
      width: 1.6rem;
    }
  }

  .item-sections {
    flex: 1 0 50%;
    min-width: 310px;

    .items-list {
      display: grid;
      grid-template-columns: repeat(var(--items-per-row), 74px);
      justify-content: center;
      align-items: center;
    }
  }

  .item-details-box {
    flex: 1 1 50%;
    min-width: 390px;
  }
}

@media only screen and (min-width: 700px) {
  .items-page {
    --items-per-row: 4;
  }
}

@media only screen and (min-width: 900px) {
  .items-page {
    --items-per-row: 5;
  }
}

@media only screen and (min-width: 1100px) {
  .items-page {
    --items-per-row: 6;
  }
}