.items-page {
  $items-column-width: 480px;

  gap: 10px;

  .sections {
    flex: 0 0 $items-column-width;
    width: $items-column-width;

    .items-list {
      display: grid;
      grid-template-columns: repeat(5, 74px);
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }
}