.combo-items-box {
  height: 230px;

  .clear-btn {
    border: 0;
    font-size: 14px;
    background-color: var(--color-dark-blue);
    color: white;
    padding: 10px 20px;

    &:disabled {
      opacity: 0.3;
    }

    &:hover:not(:disabled) {
      opacity: 0.9;
      cursor: pointer;
    }
  }
}