.app {
  display: flex;

  .nav {
    position: fixed;
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--color-dark-blue);
    flex: 0 0 var(--navbar-height);
    z-index: 10;

    a {
      display: block;
      background-color: var(--color-blue);
      color: white;
      font-size: 20px;
      border: 2px solid white;
      text-decoration: none;
      padding: 4px 8px;

      &:hover,
      &.active {
        background-color: white;
        color: var(--color-blue);
      }
    }

    .menu {
      gap: 5px;
      color: white;
      text-align: center;

      >img {
        height: var(--navbar-height);
        margin-right: 10px;
        margin-left: 5px;
      }
    }

    .download {
      margin-right: 5px;
      flex-shrink: 0;

      a {
        background-color: var(--color-pink);
      }
    }
  }

  >main {
    --content-padding: 10px;

    padding: var(--content-padding);
    margin-top: var(--navbar-height);
    flex: 1 1 auto;
  }
}