.app {
  --content-padding: 5px;

  display: flex;

  .navbar {
    position: fixed;
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--color-dark-blue);
    z-index: 10;

    a {
      display: block;
      background-color: var(--color-blue);
      color: white;
      font-size: 20px;
      border: 2px solid white;
      text-decoration: none;
      padding: 4px 8px;

      &:hover,
      &.active {
        background-color: white;
        color: var(--color-blue);
      }
    }

    .menu {
      color: white;
      text-align: center;
      flex: 1 1 auto;

      > img {
        height: var(--navbar-height);
      }
    }

    a.download {
      background-color: var(--color-pink);
    }
  }

  .sticky {
    position: sticky;
    top: calc(var(--navbar-height) + var(--content-padding));
  }

  .highlight {
    color: #bcff5c;
    font-weight: bold;
  }

  > main {
    padding: var(--content-padding);
    margin-top: var(--navbar-height);
    flex: 1 1 auto;
    // z-index: 0;
  }
}

.content-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

@media only screen and (min-width: 800px) {
  .app {
    --content-padding: 10px;
  }
}

@media only screen and (min-width: 1200px) {
  .content-container {
    max-width: 140rem;
  }
}
